[Desktop Entry]
Name=Weather
GenericName=Weather App
Comment=Shows the weather
Categories=Utility;Weather;
Exec=com.github.rugglcon.weather
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=weather
Keywords=Weather;
