[Desktop Entry]
Name=Weather
GenericName=Weather App
Comment=Forecast for anywhere
Categories=Utility;GTK;
Exec=com.github.rugglcon.weather
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=weather
Keywords=weather;forecast;temperature;
